{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class='container'>
    <h1 class='text-warning border-bottom mb-5'>Qualification</h1>
    <div class='row text-white'>
        <div class="col-sm-5">
            <h3>HTML/css</h3>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" style:"width:100%"
                aria-valuenow ="100" aria-valuemin="0" aria-valuemax="100">100%</div>

                

            </div>
        </div>
    </div>
</div>
{% endblock content%}