{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class='container mt-5'>
    <h1 class="text-warning mb-5 border-bottom">SERVICES</h1>
    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class=" i-colofa-brands fa-searchengin fa-2x mb-3 "></i>
            <h3>SEO</h3>
            <p>Search for more verification of this resume.</p>
        </div>
        <div class="col-sm-4">
            <i class="  i-colo fa-solid fa-palette fa-2x mb-3"></i>
            <h3>Web design</h3>
            <p>HTML,CSS,bootstrap</p>
        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-code fa-2x mb-3 i-colo"></i>
            <h3>Web Development</h3>
            <p>C language, C++(object oriented),python,Java,Database(mySQL),Backend(django)</p>
        </div>
    </div>
    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fa-brands fa-searchengin fa-2x mb-3 i-colo"></i>
            <h3>About</h3>
            <p>Field of work</p>
        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-palette fa-2x mb-3 i-colo"></i>
            <h3>courier</h3>
            <p>Future is on your hands</p>
        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-code fa-2x mb-3 i-colo"></i>
            <h3>Backend</h3>
            <p>Backend(django),dot net,Laravel</p>
        </div>
    </div>
    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fa-brands fa-searchengin fa-2x mb-3 i-colo"></i>
            <h3>Advertisement</h3>
            <p>Search for more advertisement.</p>
        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-palette fa-2x mb-3 i-colo"></i>
            <h3>Tours</h3>
            <p>bootcamp</p>
        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-code fa-2x mb-3 i-colo"></i>
            <h3>PATHWAY</h3>
            <p>create your own channel</p>
        </div>
    </div>
</div>
    
{% endblock content %}